@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
--primary-color: #0B132B;
--secondary-color: #1C2541;
--accent1-color: #3A506B;
--accent2-color: #5BC0BE;

--heading-font: 'Roboto', Helvetica, sans-serif;
--paragraph-font: 'Poppins', sans-serif;

--nav-background-color: #3A506B;
--nav-link-color: #0B132B;
--nav-hover-link-color: #5BC0BE;
--nav-hover-background-color: #1C2541;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

a:link, a:visited {
    color: var(--nav-link-color);
    text-decoration: none;
} 

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    justify-content: center;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position:absolute;
    background-position: 100%;
    background-color: #5bc0be56;
    top: 20px;
    text-align: center;
    padding-left: 15rem;
    padding-right: 3rem;
}

.hero article{
    position: absolute;
    margin: 0px;
    top: 35%;
    background-color: #5bc0be56 ;
    width: 90%;
    left: 3rem;
    
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    margin: 15px;
}


/* CSS Grid and CSS Flex - Header*/

header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 150px 1fr 100px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-family: var(--heading-font);
}

header.logo img {
    width: 68px;
    height: auto;
    margin: 0 1rem 0 2rem;
}

nav.main {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

nav.main a {
    text-decoration-color: var(--nav-link-color);
    text-transform: capitalize;
    padding: 1rem;
}

nav.main a:hover {
    text-decoration: underline;
    text-decoration-color: var(--nav-link-color);
    background-color: var(--nav-hover-link-color);
}

/* Align main content */
section.history {
    text-align: center;
    margin: 1PX;
    border: 1px solid;
}

section.history h2 {
    display:flex;
    justify-content: center;
    background-color: var(--accent2-color);
    height: 3rem;
    align-items: center;
}

section.adventure {
    display: grid;
    grid-template-rows: 50px 5fr;
}

section.adventure h2{
    grid-column: 1/6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent2-color);
    padding: 2rem;
    margin-bottom: 2px;
    
}

section.adventure img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 180px;
    height: 120px;
    
}

figcaption {
    text-align: center;
    background-color: #5BC0BE;
    margin-right: 4px;
    font: italic bold smaller c;
    color: var(--primary-color);
}

footer {
    display: grid;
    grid-template-columns: 1fr 128px;
    margin-top: 1px solid black;
}

footer p {
    ;
}

nav.sociallinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding-right: 3rem;
}

.sociallinks a{
    width: 25px;
    height: auto;
}
