@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
--primary-Oxford-Blue: #0B132B;
--secondary-Space-cadet: #1C2541;
--accent1-YInMn-Blue: #3A506B;
--accent2-Verdigris: #5BC0BE;

--heading-font: 'Roboto', Helvetica, sans-serif;
--paragraph-font: 'Poppins', sans-serif;

--nav-background-color: #3A506c;
--nav-link-color: #0B132c;
--nav-hover-link-color: #5BC0Bf;
--nav-hover-background-color: #1C2542;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-Oxford-Blue);
}

header{
    padding: 20px;
    background-color: var(--accent1-YInMn-Blue);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

a:link, a:visited {
    color: var(--nav-link-color);
    /*text-decoration: none;*/
}